<% provide(:title, "Contact") %>
<!DOCTYPE html>
<html>
  <head>
    <title> <%= yield(:title) %> | Cash For Your Car!</title>
  </head>
  <body>
    <h1>Contact us</h1>
    <p>
      you can call us at: 2092211846
      
    </p>
  </body>
</html>