
<% provide(:title, "Home") %>
<div class = "container">
<div class="center jumbotron">
  <h1>Selling your Car for Cash</h1>

  <h2>you are in the right place!</h2>

  <br /><%= link_to "Get Quote Now!", '#', class: "btn btn-lg btn-primary" %>
</div>
</div>
<br />
<div class = "container">
<div class="row text-center">
  <div class="col-12 col-sm">
    <h3>Tell Us About Your Car</h3>
    <p>Either call us or request for a quote, we will give an instant quote for your car!</p>
    <span> Call: 209-221-1846</span>
  </div>

  <div class="col-12 col-sm">
    <h3>Accept Our Offer</h3>
    <p> if you accept the offer, we will come to you to pick up the car. it is that easy! </p>
    <span> No extra Headaches!</span>

  </div>

  <div class="col-12 col-sm">
    <h3>Get Paid Cash</h3>
    <p> you will get the quoted price as said! No Bargaining! </p>
    <span>simple happy deal!</span>
  </div>
</div>
</div>